.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s 0.6s,
    opacity 0.6s linear;
  background-color: #00000080;
  position: fixed;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.6s linear;
}

.modal__container {
  width: fit-content;
  max-width: 730px;
  width: 100%;
  height: auto;
  min-height: 408px;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  border-color: transparent;
  background-color: transparent;
  background-image: url(../images/Close\ Icon.svg);
  opacity: 0.6;
  transition:
    filter 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.modal__close-btn:hover {
  cursor: pointer;
  filter: brightness(0);
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #212121b2;
  opacity: 70%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}

.modal__input::placeholder {
  color: #2121214d;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__submit-btn {
  padding: 18px 32px;
  max-width: 156px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  gap: 8px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  box-shadow: none;
}

.modal__submit-btn:hover {
  cursor: pointer;
  background-color: #555555;
}

@media screen and (max-width: 768px) {
  .modal__container {
    width: 300px;
    min-height: 336px;
    padding: 24px 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    position: absolute;
    top: 26px;
    right: 22px;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
  }

  .modal__input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #757575;
    border-radius: 4px;
  }

  .modal__submit-btn {
    max-width: 100%;
    margin-top: auto;
    padding: 14px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
  }
}
